<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><strong><%= @time %></strong></p>
    <div style="background: lightgrey; padding: 16px">
      <ul>
        <li><%= link_to "Hem", root_path %></li>
        <li><%= link_to "Dennis Önskelista", dennis_path %></li>
        <li><%= link_to "Fannys Önskelista", fanny_path %></li>
        <li><%= link_to "Liams Önskelista", liam_path %></li>
        <li><%= link_to "Phys Önskelista", phy_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
